body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 50px;
    background-color: rgb(165, 243, 165);
    margin: 30px;
    border-style: solid;
}
h2 {
    font-size: 23px;
    margin: 30px;
  
}



body {
    background-color: rgb(184, 246, 246);
}

.list-conteiner {
    display: inline-block;
   
    padding-right:10px;
    font-size: 10px;

}


.list-conteiner>p {
    padding-left: 30px;
    font-weight: bold;
    font-size: 21px;
}
/* картинки */
.img-conteiner {
    float: right;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    margin-left: 5px;
}

.img-conteiner>div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo {
    max-width: 300px;
}

.gg {
    max-width: 230px;
}

.pod {
    max-width: 350px;
}

.st {
    max-width: 350px;
}

/* верхняя нав панель */
.nav-cont {
    display: flex;
    justify-content: space-between;
    background-color: rgb(152, 185, 248);
}

.nav-cont>nav>ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-cont>nav>ul>li {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}


@media(max-width:900) {

    .nav-cont {
        flex-direction: column;
    }
}

.page {
    display: flex;
    justify-content: center;
}

.header {
    width: 14%;
    background-color: white;
    font-size: 25px;
}

.text-page {
    padding-left: 15px;
}

.section {
    width: 82%;
}

.header>ol {
    list-style: none;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
}

.header>div {
    width: 100%;
}

.header>div>img {
    width: 100%;
}

